/* Global Style */
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
/* Style the UL */
.nav-secondary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  list-style: none;
  text-align: center;

  margin: 0;
  padding: 0;

  background: linear-gradient(90deg, #3a4972, #2e3959);
}
/* Style the nav item container */
.nav-secondary li {
  width: 100%;
}
/* Style the nav item */
.nav-secondary a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease, text-shadow 0.3s ease,
    font-size 0.1s ease-in-out;
  height: 160px;
  display: block;

  padding-top: 32px;
}
.nav-secondary a:hover {
  background-color: rgba(0, 0, 100, 0.2);
  text-shadow: 2px 2px 8px #1b2339c7;
  font-size: 1.09em;
}
.nav-secondary a img {
  transition: transform 0.1s ease-in-out;
  height: 56px;
  margin-bottom: 4px;
}
.nav-secondary a:hover img {
  transform: scale(1.2);
}

@media screen and (min-width: 360px) {
  .nav-secondary {
    font-size: 1.2em;
  }
  .nav-secondary li {
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .nav-secondary {
    font-size: 1.4em;
  }
  .nav-secondary li {
    width: 25%;
  }
}
@media screen and (min-width: 820px) {
  .nav-secondary {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1000px) {
  .nav-secondary {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1280px) {
  .nav-secondary {
    font-size: 2em;
  }
}
/* .nav-secondary a:nth-last-child(-n+3) {
  Select all but last one
} */
